#site-footer {
    #supplementary {
        .largo-donate {
            margin-bottom: 0;
            .btn.btn-primary {
                margin-top: @unit;
            }
        }
        .btn.btn-subscribe {
            background: 0 0;
            color: @blue;
            text-transform: uppercase;
            font-family: @ps_sans_bold;
            font-size: @unit2x;
            width: 100%;
        }
    }
}